<!-- Services Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-left">
                    <h3>About the Lessons</h3>
                    <p>I offer a range of 12-week rolling courses, designed to help lift your understanding and command of the English Language.</p>
                </div>
                <div class="col-lg-6 text-left">
                    <p>Courses:</p>
                    <ul>
                        <li><p>General English</p></li>
                        <li><p>IELTS</p></li>
                        <li><p>Conversation classes</p></li>
                        <li><p>English Courtesy</p></li>
                        <li><p>Business English</p></li>
                        <li><p>Intercultural Communication</p></li>
                        <li><p>Special interest groups</p></li>
                    </ul>
                </div>
                <div class="col-lg-6 text-left">
                    <p>Levels:</p>
                    <ul>
                        <li><p>C1 + Advanced</p></li>
                        <li><p>B1-B2 Intermediate</p></li>
                        <li><p>A1-A2 beginners & elementary</p></li>
                    </ul>    
                </div>
                <div class="col-lg-12 text-left" style="margin-top: 4em;"">
                    <h4 style="margin-bottom: 1em;">All courses are conducted via international video call, at a time that suits you.</h4>
                    <img src="img/instagram-logo.png" style="width: 60px; margin-right:1em;" />
                    <img src="img/whatsapp-logo.png" style="width: 60px; margin-right:1em;" />
                    <img src="img/zoom-logo.png" style="width: 60px; margin-right:1em;" />
                </div>
            </div>
        </div>
    </section>