<!-- Services Section -->
    <section id="teacher">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h3>About Mr Tim</h3>
                    <p class="text-muted">Hello students! I'm Mr Tim and I am an Engligh Teacher. I have taught students just like you for more than 15 years.</p>
                    <p>I'm looking forward to talking to you in conversation classes, 
                </div>
            </div>
        </div>
    </section>