<!-- Services Section -->
    <section id="teacher">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-left">
                    <h3>About Mr Tim</h3>
                    <p>Hello students! I'm Mr Tim and I am an English Teacher. I have taught students just like you for more than 15 years.</p>
                    <p>I look forward to talking with you, in conversation classes, General English, Business English, and Special Interest Classes.</p>
                    <p>Do you need encouragement and motivation? <strong>You will find it <a class="page-scroll" href="#book">right here</a>.</strong></p>
                </div>
            </div>
        </div>
    </section>