<!-- Services Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About the Course</h2>
                    <h3>12 week courses menu:</h3>
                    <ul style="list-style:none;">
                        <li>General English</li>
                        <li>IELTS</li>
                        <li>Conversation classes</li>
                        <li>English Courtesy</li>
                        <li>Intercultural Communication</li>
                        <li>Special interest groups</li>
                    </ul>
                    <p class="text-muted">More description</p>
                </div>
            </div>
        </div>
    </section>