<!-- Services Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h3>About the Lessons</h3>
                    <p>I offer a selection of 12 week courses, designed to help propel your understanding of the English Language:</p>
                    <ul style="list-style:none;">
                        <li>General English</li>
                        <li>IELTS</li>
                        <li>Conversation classes</li>
                        <li>English Courtesy</li>
                        <li>Intercultural Communication</li>
                        <li>Special interest groups</li>
                    </ul>
                    <p class="text-muted">All courses are conducted via video call, at a time that suits you.</p>
                </div>
            </div>
        </div>
    </section>